{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>

<div class="row">
    <div class="col-md-6">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('groups.index') }}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}
